.stock-box {
    width: 344px;
    background-color: #448AFF; 
    margin-bottom: 10px;
    
  }
  .mat-card{
      padding: 15px;
  }
  .mat-card-content {
    font-size: 1.1em;
  }
  .mat-card-title{
    font-size: 1.5em;
  }