{{jsonResponse}}
<div class="main">
  <span style="width: 100%;text-align: center">STOCKS</span>
  <div class="zoom">
    <li>ZOOM</li>
    <li><button>1M</button></li>
    <li><button>3M</button></li>
    <li><button>6M</button></li>
    <li><button>YTD</button></li>
    <li><button>1Y</button></li>
    <li><button>ALL</button></li>    
  </div>  
  <div class="chart" id="chart_div"></div>
  <div class="stocks">
    <mat-card class="stock-box">
        <mat-card-title>GE</mat-card-title>
        <mat-card-content>General Electric Co (GE) Prices, Dividends, Splits and Trading Volume</mat-card-content>
        <mat-card-actions><button mat-button>REMOVE</button></mat-card-actions>
    </mat-card>
    <mat-card class="stock-box">
        <mat-card-title>GE</mat-card-title>
        <mat-card-content>General Electric Co (GE) Prices, Dividends, Splits and Trading Volume</mat-card-content>
        <mat-card-actions><button mat-button>REMOVE</button></mat-card-actions>
    </mat-card>
    <mat-card class="stock-box">
        <mat-card-title>GE</mat-card-title>
        <mat-card-content>General Electric Co (GE) Prices, Dividends, Splits and Trading Volume</mat-card-content>
        <mat-card-actions><button mat-button>REMOVE</button></mat-card-actions>
    </mat-card>
    <mat-card class="stock-box">
        <mat-card-title>GE</mat-card-title>
        <mat-card-content>General Electric Co (GE) Prices, Dividends, Splits and Trading Volume</mat-card-content>
        <mat-card-actions><button mat-button>REMOVE</button></mat-card-actions>
    </mat-card>
    <mat-card class="stock-box">
        <mat-card-title>GE</mat-card-title>
        <mat-card-content>General Electric Co (GE) Prices, Dividends, Splits and Trading Volume</mat-card-content>
        <mat-card-actions><button mat-button>REMOVE</button></mat-card-actions>
    </mat-card>
    <mat-card class="stock-box">
        <mat-card-title>GE</mat-card-title>
        <mat-card-content>General Electric Co (GE) Prices, Dividends, Splits and Trading Volume</mat-card-content>
        <mat-card-actions><button mat-button>REMOVE</button></mat-card-actions>
    </mat-card>   
  </div>
</div>
<a href="https://github.com/entropia-studio/" target="_blank">Coded by Entropia Studio</a>